.billboard {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: rgba(227, 235, 236, 0.322);
  height: 60px;
  align-items: center;
}

.btn {
  background-color: rgba(150, 188, 214, 0.548);
  border: 0px solid rgb(51, 29, 16);
  border-radius: 15%;
  width: 150px;
  height: 30px;
  color: rgb(0, 0, 0);
  font-weight: 550;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(130, 178, 207);
}
